testing_server/node_modules/

venv/

chatlogs/

__pycache__/

userdata/

data/

sikuliX/

id_data/

test_NLU/

test_label/

.vscode/

embedding/~$raw1106.xlsx

embedding/.DS_Store

.DS_Store

*.h5

*.bat
embedding/generated_data.csv

embedding/raw.csv

oddjob.py

localfiles/

cb/

database.json
