testing_server/node_modules/

venv/

chatlogs/

__pycache__/

userdata/

data/

sikuliX/

id_data/
test_NLU(intent-slot)/model/

test_NLU(intent-slot)/vocab/

test_NLU/model/

test_NLU/vocab/

.vscode/


embedding/
