testing_server/node_modules/

venv/

chatlogs/

__pycache__/

userdata/

data/

sikuliX/

id_data/

test_NLU/model/

test_NLU/vocab/

.vscode/

embedding/~$raw1106.xlsx

embedding/.DS_Store

.DS_Store

embedding/JB_model.h5

embedding/0611trained_JB_model.h5
